.quem-somos{
    text-align: justify;
}

.quem-somos-img{
    background-image: url(../img/pexels-matthiaszomer-422218.jpg);
    background-position:center;
    background-size:cover;
    max-width: 100%;
}